@import url("https://use.typekit.net/xkc7zmp.css");

body {
	font-family: 'futura-pt', sans-serif;
	font-weight: 500;
	margin: 2.5%;
	font-size: 14pt;
}

#top, .text-content {
	margin-bottom: 2.5%;
}

#top img {
	height: 50px;
	margin-right: 15px;
	vertical-align: middle;
	width: auto;
}

#logo, #me {
	display: inline-block;
	vertical-align: middle;
}

#signature {
	font-weight: 600;
	font-style: italic;
}

#social a {
	margin-right: 5px;
}

#gh {
	color: #212529; /*#4078c0;*/
}

#in {
	color: #0077B5;
}

#jb {
	color: #ffbf00;
}

#info .text-content {
	display: inline-block;
	margin-right: 25px;
}

#info .section-head {
	font-style: normal;
}

.text-content {
	margin-right: 25%;
}

.text-content ul {
	list-style-type: none;
	padding: 0;
	color: grey;
	font-style: italic;
}

.text-content li {
	margin-bottom: 20px;
}

.text-content a {
	color: black;
	font-style: normal;
}

.section-head {
	color: grey;
	/*margin-bottom: 20px;*/
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2),

  only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1)

  {
	body {
		font-size: 36pt;
		margin: 10%;
	}

	#top, .text-content {
		margin-bottom: 10%;
	}
}