@import url("https://use.typekit.net/xkc7zmp.css");
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

:root {
	--backgroundColor: white;
	--primaryColor: #000;
	--secondaryColor: #DE4F41;
	/* --tertiaryColor: rgb(58, 123, 236); */

	--primaryFontFamily: 'Space Mono', monospace;
	--secondaryFontFamily: itc-avant-garde-gothic-pro, sans-serif;

	--primaryFontSize: 24px;
	--secondaryFontSize: 14px;

	--primaryMargin: 75px;
	--secondaryMargin: 50px;
	--tertiaryMargin: 25px;

	--lineHeight: 3rem;
}

::selection {
    background-color: var(--secondaryColor);
    color: var(--backgroundColor);
}

a {
	background-color: var(--secondaryColor);
	color: var(--backgroundColor);
}

body {
	color: var(--primaryColor);
	font-family: var(--primaryFontFamily);
	font-size: var(--primaryFontSize);
	font-weight: 700;
	margin: var(--secondaryMargin) var(--primaryMargin) var(--primaryMargin) var(--primaryMargin);
	text-rendering: 'optimizeLegibility';
	-webkit-font-smoothing: 'antialiased';
}

#logo {
	height: var(--secondaryMargin);
	width: auto;
}

#signature {
	border-bottom: 2px solid black;
}

#social {
	margin: 0;
	padding: 0;
}

#social > li {
	display: inline;
	list-style: none;
}

#social > li > a {
	background-color: transparent;
	color: var(--secondaryColor);
	font-size: var(--secondaryFontSize);
}

#top {
	align-items: center;
	display: flex;
	font-family: var(--secondaryFontFamily);
	font-weight: 700;
	justify-content: space-between;
}

.header {
	margin-bottom: var(--tertiaryMargin);
}

.section {
	margin-bottom: var(--secondaryMargin);
	line-height: var(--lineHeight);
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2),

  only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
	:root {
		--primaryFontSize: 48px;
		--secondaryFontSize: 28px;

		--primaryMargin: 144px;
		--secondaryMargin: 100px;
		--tertiaryMargin: 50px;

		--lineHeight: 6rem;
	}

	.wrap {
		display: none;
	}
}