@import url("https://use.typekit.net/xkc7zmp.css");

::selection {
    background-color: #79FFE1;
    color: #fff;
}

html, body {
	background-color: black;
	color: white;
}

body {
	font-family: 'Lucida Console', Monaco, monospace;
	/* font-family: '-apple-system', 'Helvetica Neue', 'Segoe UI', sans-serif; */
	font-weight: 500;
	margin: 2.5rem;
	font-size: 13px;
	text-rendering: 'optimizeLegibility';
	-webkit-font-smoothing: 'antialiased';
	padding-bottom: 6rem;
}

#top {
	background-color: #79FFE1;
	color: black;
	padding: 10px;
}

#top a:link, #top a:hover, #top a:visited {
	color: black;
}

#top, .text-content {
	margin-bottom: 2.5rem;
}

#top img {
	height: 50px;
	margin-right: 15px;
	vertical-align: middle;
	width: auto;
}

#logo, #me {
	display: inline-block;
	vertical-align: middle;
	line-height: 25px;
}

#logo {
	height: 30px;
	width: auto;
}

#signature {
	font-size: 15px;
	font-weight: 600;
	/* font-style: italic; */
}

#social a {
	margin-right: 5px;
	/* color: #D400FF; */
}

/* #jukebox {
	color: #ff9500;
} */

/* #gh {
	color: #212529;
}

#in {
	color: #0077B5;
}

#em {
	color: red;
} */

#info .text-content {
	display: inline-block;
	margin-right: 25px;
}

#info .section-head {
	font-style: normal;
}

.text-content ul {
	list-style-type: none;
	padding: 0;
	color: white;
	font-style: italic;
}

.text-content li {
	margin-bottom: 20px;
}

a {
	font-style: normal;
}

a:link, a:hover {
	color: #D400FF;
}

a:visited {
	color: #E95678;
}

.section-head {
	color: grey;
	/*margin-bottom: 20px;*/
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2),

  only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)

  {
	body {
		font-size: 24px;
		margin: 10%;
	}

	#top img {
		height: 100px;
		margin-right: 30px;
	}

	#top, .text-content {
		margin-bottom: 10%;
	}
}